{% extends "base.html" %}
{% block additionalHead %}
<meta name="description" content="Web Page of the ebook '2D Game Development: From Zero to Hero'. An almost no-assumptions taken book that teaches how to develop videogames from the ground up, featuring best practices, project management and tips.">
<script type='application/ld+json'>
[
    {
        "@context": "http://schema.org/",
        "@type": "Book",
        "bookEdition": "Web",
        "url": "http://penaz.it/projects/2dgd_f0th.html",
        "fileFormat": "Pdf",
        "genre": "Learning",
        "isAccessibleForFree": "true",
        "keywords": [
            "Game Development",
            "2D",
            "Programming",
            "Coding",
            "Game",
            "Design Patterns",
            "Project Management",
            "Algorithms",
            "Game Design"
        ],
        "learningResourceType": "EBook",
        "license": "https://creativecommons.org/licenses/by-nc/4.0/",
        "name": "2D Game Development: From Zero To Hero"
    },
    {
        "@context": "http://www.schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": 1,
                "name": "Home",
                "item": "https://penaz.it/"
            },
            {
                "@type": "ListItem",
                "position": 2,
                "name": "Projects",
                "item": "https://penaz.it/projects.html"
            },
            {
                "@type": "ListItem",
                "position": 3,
                "name": "2D Game Development: From Zero To Hero",
                "item": "https://www.penaz.it/projects/2dgd_f0th.html"
            }
        ]
    }
]
</script>
{% endblock %}
{% block content %}
    <div class='title'>
        <h1>2D Game Development: <span class="orangelogo">From Zero To Hero</span></h1>
        <h2>A book on Game Development that grasps the power of the community</h2>
    </div>
    <hr>
    <div class="content">
        <div id="description">
            <ul>
                <li><strong>Languages: </strong>Markdown, LaTeX, Makefile.</li>
                <li><strong>Status: </strong>Actively Maintained.</li>
                <li><strong>Framework:</strong> None</li>
                <li><strong>Primary Focus: </strong>Learning.</li>
            </ul>
            <div class="desc">
                <p>This project is meant to be a collection of resources, patterns, containers, suggestions, tips and tricks on 2D game development.</p>
                <p>Everything is presented in a platform-agnostic way first, and with code examples after, without major assumptions in place.</p>
                <p>The book's objective is teaching basic game development from the ground up, without teaching "a framework" but instead showing what's behind a seemingly simple game.</p>
                <p>The journey will accompany the reader through the basics of computer science, reading and understanding UML diagrams, learning about design patterns and tricks to simplify the game's structure.</p>
                <p>What I think is the most important aspect of this book, that I would love to grasp, is the power of a community that works towards an objective: teaching how to make games, so that who has an idea for a game, can put it down for a game jam, for instance.</p>
                <p>I want to grasp such power to learn more about game development, as well as teaching what I know about such matter.</p>
                <h3>The <span class="orangelogo">Code Listings</span></h3>
                <p>This ebook is structured in a more complex, but modular, way: everyone can contribute by adding code or translating the existing code into another language (supported by the LaTeX Listings package), who wants to have their own "edition" with a certain language, they can re-build the book by setting their favourite language in the <em>metadata.yml</em> file.</p>
                <h3>The <span class="orangelogo">License</span></h3>
                <p>Deciding the license for this ebook has been no easy feat, I was personally conflicted between two possibilities: Public Domain or A non-commercial, but still permissive license.</p>
                <p>In the end I decided for a Creative-Commons Attribution-Non Commercial license. This decision was made to protect both contributors and readers. My intention is making sure that this resource is available to everyone, for free, forever. At the same time I want to make sure that whoever contributed to this project (for free and with the objective of making such knowledge available for free) won't see their contribution sold by a third party, along with the whole book.</p>
            </div>
            <a href="https://gitlab.com/Penaz/2dgd_f0th" target="_blank">Check the Project Repository on GitLab</a><br />
            <a href="https://github.com/penaz91/2dgd_f0th" target="_blank">Check the Mirror Repository on GitHub</a>
            <hr>
        </div>
    </div>
{% endblock %}
