{% extends "base.html" %}
{% block additionalHead %}
<meta name="description" content="Web Page of aTodo: a simple JSON-based ToDo keeper made in Python 3.">
<script type='application/ld+json'>
[
    {
        "@context": "http://schema.org/",
        "@type": "SoftwareApplication",
        "applicationCategory": [
            "Note Taking",
            "Memo"
        ],
        "downloadUrl": "https://gitlab.com/Penaz/atodo",
        "operatingSystem": [
            "Windows",
            "Linux"
        ],
        "softwareVersion": "0.0.1",
        "description": "A simple JSON-based Todo keeper",
        "name": "aTodo"
    },
    {
        "@context": "http://www.schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": 1,
                "name": "Home",
                "item": "https://penaz.it/"
            },
            {
                "@type": "ListItem",
                "position": 2,
                "name": "Projects",
                "item": "https://penaz.it/projects.html"
            },
            {
                "@type": "ListItem",
                "position": 3,
                "name": "aTodo",
                "item": "https://www.penaz.it/projects/atodo.html"
            }
        ]
    }
]
</script>
{% endblock %}
{% block content %}
    <div class='title'>
        <h1>a<span class="orangelogo">Todo</span></h1>
        <h2>A simple JSON-based ToDo keeper</h2>
    </div>
    <hr>
    <div class="content">
        <div id="description">
            <ul>
                <li><strong>Language: </strong>Python 3.</li>
                <li><strong>Status: </strong>Actively Maintained.</li>
                <li><strong>Framework:</strong> None</li>
                <li><strong>Primary Focus: </strong>Personal Use.</li>
            </ul>
            <div class="desc">
                <p>This project was born, like many others, from a small and very specific necessity: I wanted a small script to keep my Todo list and be able to show it in my Conky configuration.</p>
                <p>Although the todos have to be specific: they need a title and a connected message, so that this ToDo software can also be kept as a note-keeper</p>
                <p>I initially decided to store each memo/todo into a separate JSON file, for ease and speed of coding, then I recently reviewed the script and decided to store everything inside a single JSON file.</p>
                <p>Todos with an "extended description" are marked with an [M] (Multiline) and can be viewed with the specific view command</p>
            </div>
            <a href="https://gitlab.com/Penaz/atodo" target="_blank">Check the Project Repository</a>
            <hr>
        </div>
        <div id="pics">
            <div class="galleryimg shadow">
                <a href="../images/projects/atodo1.png" target="_blank" class="lightboximg">
                    <img src="../images/projects/atodo1.png" alt=""/>
                </a>
            </div>
            <div class="galleryimg shadow">
                <a href="../images/projects/atodo2.png" target="_blank" class="lightboximg">
                    <img src="../images/projects/atodo2.png" alt=""/>
                </a>
            </div>
            <div class="galleryimg shadow lightboximg">
                <a href="../images/projects/atodo3.png" target="_blank" class="lightboximg">
                    <img src="../images/projects/atodo3.png" alt=""/>
                </a>
            </div>
        </div>
    </div>
    <div id="lightboxcontainer"></div>
{% endblock %}
