{% extends "base.html" %}
{% block additionalHead %}
<meta name="description" content="Web Page of EntoStudio: a mosquito tracker with statistics and reporting features.">
<script type='application/ld+json'>
[
    {
        "@context": "http://schema.org/",
        "@type": "SoftwareApplication",
        "applicationCategory": [
            "management"
        ],
        "downloadUrl": "https://gitlab.com/Penaz/npass",
        "operatingSystem": [
            "Linux",
            "Unix",
            "MacOS",
            "Windows",
            "Android",
            "iOS"
        ],
        "softwareVersion": "1.1.3",
        "description": "A mosquito tracker with statistics and reporting features.",
        "name": "EntoStudio"
    },
    {
        "@context": "http://www.schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": 1,
                "name": "Home",
                "item": "https://penaz.it/"
            },
            {
                "@type": "ListItem",
                "position": 2,
                "name": "Projects",
                "item": "https://penaz.it/projects.html"
            },
            {
                "@type": "ListItem",
                "position": 3,
                "name": "EntoStudio",
                "item": "https://penaz.it/projects/entostudio.html"
            }
        ]
    }
]
</script>
{% endblock %}
{% block content %}
    <div class='title'>
        <h1>Ento<span class="orangelogo">Studio</span></h1>
        <h2>A mosquito tracker with statistics and reporting features.</h2>
    </div>
    <hr>
    <div class="content">
        <div id="description">
            <ul>
                <li><strong>Language: </strong>Python 3.</li>
                <li><strong>Status: </strong>In Use / Actively Maintained.</li>
                <li><strong>Framework: </strong>Django</li>
                <li><strong>Dependencies: </strong>PostgreSQL, Celery, LibreOffice, BootStrap 3</li>
                <li><strong>Primary Focus: </strong>Work.</li>
            </ul>
            <div class="desc">
                <p>EntoStudio is a fully-featured cloud-based application used to take care about everything concening the surveillance over mosquito population.</p>
                <p>The most notable features are:
                <ul class="withdots">
                    <li>Integrated mosquito sampling functionalities;</li>
                    <li>Plugin-based automatic Weather Data download;</li>
                    <li>Assisted Check-Based Report Generation;</li>
                    <li>Assisted Periodic Report Generation;</li>
                    <li>Laboratory Samples Management;</li>
                    <li>Management System for larvicide treatments;</li>
                    <li>Statistics;</li>
                    <li>Per-User Preferences;</li>
                    <li>Installable on Mobile devices as a Progressive Web Application (PWA);</li>
                    <li>Raw data extraction;</li>
                    <li>In-App Notifications from the server maintenance team;</li>
                    <li>Extremely low network footprint.</li>
                </ul>
                </p>
                <p>The Entostudio name and logo are property of EntoStudio S.R.L.</p>
            </div>
            <hr>
        </div>
        <div id="pics">
            <div class="galleryimg shadow">
                <a href="../images/projects/Entostudio_Home.png" target="_blank" class="lightboximg">
                    <img src="../images/projects/Entostudio_Home.png" alt=""/>
                </a>
            </div>
            <div class="galleryimg shadow">
                <a href="../images/projects/Entostudio_Sample.png" target="_blank" class="lightboximg">
                    <img src="../images/projects/Entostudio_Sample.png" alt=""/>
                </a>
            </div>
            <div class="galleryimg shadow">
                <a href="../images/projects/Entostudio_Report.png" target="_blank" class="lightboximg">
                    <img src="../images/projects/Entostudio_Report.png" alt=""/>
                </a>
            </div>
            <div class="galleryimg shadow">
                <a href="../images/projects/Entostudio_Stats.png" target="_blank" class="lightboximg">
                    <img src="../images/projects/Entostudio_Stats.png" alt=""/>
                </a>
            </div>
        </div>
    </div>
    <div id="lightboxcontainer"></div>
{% endblock %}
