{% extends "base.html" %}
<meta name="description" content="Web Page of Glitch_Heaven, an experimental video game where you use willingly-inserted glitches to get to the next level.">
<script type='application/ld+json'>
[
    {
        "@context": "http://schema.org/",
        "@type": "SoftwareApplication",
        "applicationCategory": [
            "Game",
            "Multimedia"
        ],
        "downloadUrl": "https://gitlab.com/Penaz/Glitch_Heaven",
        "operatingSystem": [
            "Windows",
            "Linux"
        ],
        "softwareVersion": "0.0.1",
        "description": "A 2d platformer videogame based on glitches",
        "name": "Glitch_Heaven"
    },
    {
        "@context": "http://www.schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": 1,
                "name": "Home",
                "item": "https://penaz.it/"
            },
            {
                "@type": "ListItem",
                "position": 2,
                "name": "Projects",
                "item": "https://penaz.it/projects.html"
            },
            {
                "@type": "ListItem",
                "position": 3,
                "name": "Glitch_Heaven",
                "item": "https://penaz.it/projects/GH.html"
            }
        ]
    }
]
</script>
{% block content %}
    <div class='title'>
        <h1>Glitch_<span class="orangelogo">Heaven</span></h1>
        <h2>A 2D platformer, with Glitches.</h2>
    </div>
    <hr>
    <div class="content">
        <div id="description">
            <ul>
                <li><strong>Language: </strong>Python 3.</li>
                <li><strong>Status: </strong>Development Temporarily Halted.</li>
                <li><strong>Libraries: </strong>PyGame, JSON</li>
                <li><strong>Primary Focus: </strong>Learning and Public Usage.</li>
            </ul>
            <div class="desc">
                <h4>Description</h4>
                <p>Developed in 2016, this is a prototype of a game which gameplay is based on discovering and using glitches to get to the next level.</p>
                <p>It uses a simple Tiled map reader to read its data from .tmx maps and render them to screen, although the software-only rendering makes it difficult to run well on many PCs, also due to the low quality of the code, which is written as a monolyth and without using any Software Engineering principle or design pattern.</p>
                <p>This project formed me a lot on refactoring code as well as teaching me how 2D graphics work on a low level (Blitting and game loops, for instance), this was also my first real introduction to Python's easy and powerful logging library.</p>
                <h4>Current Status</h4>
                <p>The game is playable but far from finished, all the graphics are mostly low-quality placeholders, even though I would go for a pixel-art style. The character tends to feel as lacking in weight and control can feel inconsistent, sometimes being too tight/precise and sometimes too loose.</p>
                <p>The main mechanics work and the game is playable, but also features spikes in difficulty, making the game frustrating.</p>
                <h4>Future Development</h4>
                <p>At the moment the project is halted due to work, but I plan on taking this project back and re-write it completely, using the best practices I know, as well as new technology, such as C++ and SFML or C# and Unity.</p>
            </div>
            <a href="https://gitlab.com/Penaz/Glitch_Heaven" target="_blank">Check the Project Repository</a>
            <hr>
        </div>
        <div id="pics">
            <div class="galleryimg shadow">
                <a href="../images/projects/GH1.png" target="_blank" class="lightboximg">
                    <img src="../images/projects/GH1.png" alt=""/>
                </a>
            </div>
            <div class="galleryimg shadow">
                <a href="../images/projects/GH2.png" target="_blank" class="lightboximg">
                    <img src="../images/projects/GH2.png" alt=""/>
                </a>
            </div>
        </div>
    </div>
    <div id="lightboxcontainer"></div>
{% endblock %}
