{% extends "base.html" %}
{% block additionalHead %}
<meta name="description" content="Web Page of Lazur: my 'Object Oriented Programming' class project that lasted 50 hours.">
<script type='application/ld+json'>
[
    {
        "@context": "http://schema.org/",
        "@type": "SoftwareApplication",
        "applicationCategory": [
            "University Project"
        ],
        "downloadUrl": "https://gitlab.com/Penaz/Lazur",
        "operatingSystem": [
            "Linux",
        ],
        "softwareVersion": "0.0.1",
        "description": "My 50-Hour Long Object Oriented Programming class Project",
        "name": "Lazur"
    },
    {
        "@context": "http://www.schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": 1,
                "name": "Home",
                "item": "https://penaz.it/"
            },
            {
                "@type": "ListItem",
                "position": 2,
                "name": "Projects",
                "item": "https://penaz.it/projects.html"
            },
            {
                "@type": "ListItem",
                "position": 3,
                "name": "Lazur",
                "item": "https://penaz.it/projects/lazur.html"
            }
        ]
    }
]
</script>
{% endblock %}
{% block content %}
    <div class='title'>
        <h1><span class="orangelogo">Lazur</span></h1>
        <h2>My 50-Hour long Object Oriented Programming Class Project</h2>
    </div>
    <hr>
    <div class="content">
        <div id="description">
            <ul>
                <li><strong>Language: </strong>C++</li>
                <li><strong>Status: </strong>Archived.</li>
                <li><strong>Libraries:</strong> Qt 5.8</li>
                <li><strong>Primary Focus: </strong>University Work.</li>
            </ul>
            <div class="desc">
                <p>This project was created for an Object Oriented class in my BSc Course of "Object Oriented Programming", the objective was to create a container and a GUI that gave access to a set of information.</p>
                <p>My idea was creating some kind of simplified "content distribution" system that can distribute Software or Videos. Such Software allows for searching, inserting and deleting items, as well as featuring a very rough permission system as well as a login.</p>
                <p>This software was coded with a restrictive set of compiler options: <code>-Wall -Wextra -Werror -pedantic</code>, the objective is to create a code that is as much standard-compliant as possible. I managed to code everything without any warning thrown by the compiler.</p>
                <p>A successive analysis with CLang's <code>scan-build</code> currently reports 5 potential memory leaks, all in the User Management section, out of over 2000 lines of code.</p>
            </div>
            <a href="https://gitlab.com/Penaz/Lazur" target="_blank">Check the Project Repository</a>
            <hr>
        </div>
        <div id="pics">
            <div class="galleryimg shadow">
                <a href="../images/projects/lazur1.png" target="_blank" class="lightboximg">
                    <img src="../images/projects/lazur1.png" alt=""/>
                </a>
            </div>
            <div class="galleryimg shadow">
                <a href="../images/projects/lazur2.png" target="_blank" class="lightboximg">
                    <img src="../images/projects/lazur2.png" alt=""/>
                </a>
            </div>
            <div class="galleryimg shadow">
                <a href="../images/projects/lazur3.png" target="_blank" class="lightboximg">
                    <img src="../images/projects/lazur3.png" alt=""/>
                </a>
            </div>
        </div>
    </div>
    <div id="lightboxcontainer"></div>
{% endblock %}
