{% extends "base.html" %}
{% block additionalHead %}
<meta name="description" content="Web Page about the small Minecraft Bukkit/Spigot plugins I made in the past.">
<script type='application/ld+json'>
{
    "@context": "http://www.schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
        {
            "@type": "ListItem",
            "position": 1,
            "name": "Home",
            "item": "https://penaz.it/"
        },
        {
            "@type": "ListItem",
            "position": 2,
            "name": "Projects",
            "item": "https://penaz.it/projects.html"
        },
        {
            "@type": "ListItem",
            "position": 3,
            "name": "Minecraft Plugins",
            "item": "https://penaz.it/projects/MC.html"
        }
    ]
}
</script>
{% endblock %}
{% block content %}
    <div class='title'>
        <h1>Minecraft <span class="orangelogo">Plugins</span></h1>
        <h2>Some Minecraft Plugins I made in the old days.</h2>
    </div>
    <hr>
    <div class="content">
        <div id="description">
            <ul>
                <li><strong>Language: </strong>Java.</li>
                <li><strong>Status: </strong>Accepting only BugFix Requests.</li>
                <li><strong>Dependencies:</strong> Spigot APIs, Maven</li>
                <li><strong>Primary Focus: </strong>Learning.</li>
            </ul>
            <div class="desc">
                <p>These are all the Minecraft Plugins I made between 2014 and 2016, when I didn't really know proper programming principles and Software Engineering.</p>
                <p>The primary focuses of these plugins were learning how to work with a given API and also helping who needed a problem solved on the server.</p>
                <p>Also these plugins haven't been maintained since 2016, so they might not work on newer versions of Minecraft/Spigot.</p>
                <p>Each plugin name is clickable and will redirect to the project repository.</p>
                <p>Here is the list of plugins I made, in order of importance:</p>
                <dl>
                    <dt><a href="https://gitlab.com/Penaz/ultimateTickets" target="_blank" title="View the 'ultimateTickets' repository">UltimateTickets</a></dt>
                    <dd>This is an in-game ticketing plugin with customizable labels and a "hotspot system" allowing for direct teleport to a specially-crafted comment, thus avoiding cluttering the ticket list.</dd>
                    <dt><a href="https://gitlab.com/Penaz/randomizedEmotes" target="_blank" title="View the 'randomizedEmotes' repository">RandomizedEmotes</a></dt>
                    <dd>This is a plugin born from an idea: emotes get boring after a while, because they always write out the same phrase. This plugin picks a different phrase for each emote class every time, allowing also for some basic randomizations, like inserting a random number inside the message.
                    <dt><a href="https://gitlab.com/Penaz/enchantEvolution" target="_blank" title="View the 'enchantEvolution' repository">enchantEvolution</a></dt>
                    <dd>Another wild idea gave life to this plugin: allowing the players to forge new enchantments into their weapons, with a small risk of losing levels in the affected enchantment, or losing the enchantment completely. A good money/gold sink for economy-based servers.</dd>
                    <dt><a href="https://gitlab.com/Penaz/bulkExport" target="_blank" title="View the 'bulkExport' repository">bulkExport</a></dt>
                    <dd>This plugin was created as an alternative to an exporting system in a server I played on, which had an annoying issue: you had to trade items in very limited quantities at a time due to a shopkeeper limitation. This plugin allows to export chests of items at once, if necessary, and receiving pre-configured items in return. Makes for a good money/gold source for economy-based servers.</dd>
                    <dt><a href="https://gitlab.com/Penaz/doomBox" target="_blank" title="View the 'doomBox' repository">doomBox</a></dt>
                    <dd>Heavily inspired by the "Pandoras Box" one command script, this plugin spawns a box that upon being opened creates a wave of enemies to battle against. Features a boss fight when the box "gets overloaded"</dd>
                    <dt><a href="https://gitlab.com/Penaz/chatUtils" target="_blank" title="View the 'chatUtils' repository">chatUtils</a></dt>
                    <dd>This plugin was created to give a new server a smart and light chat management system, with specific permissions so that staff doesn't lose any message in chat, in case of a chat clear (which was really annoying back in the day)</dd>
                    <dt><a href="https://gitlab.com/Penaz/customNature" target="_blank" title="View the 'customNature' repository">customNature</a></dt>
                    <dd>This was asked by a friend who was a builder on a server. The objective is simple but complex at the same time: making a plugin that functions as a "flower brush", allowing to easily decorate fields and anything that would require grass or flowers. This is a multiplayer-unsafe plugin, and doesn't check if the ground under the plants is compatible with the plant, so "flowers planted on a building roof" are bound to happen.</dd>
                    <dt><a href="https://gitlab.com/Penaz/fluidText" target="_blank" title="View the 'fluidText' repository">fluidText</a></dt>
                    <dd>This was my first plugin, made to ease the transition from the old chat message format to the new JSON-based message system. With time this plugin started having more and more utilities to enrich chat, like being able to show an item's features in chat.</dd>
                    <dt><a href="https://gitlab.com/Penaz/eyePortal" target="_blank" title="View the 'eyePortal' repository">eyePortal</a></dt>
                    <dd>This plugin was made to make players pay to cross an enderportal (originally with ender eyes), in case the items needed weren't in inventory, the teleport was cancelled.</dd>
                    <dt><a href="https://gitlab.com/Penaz/bossSummoner" target="_blank" title="View the 'bossSummoner' repository">bossSummoner</a></dt>
                    <dd>Simple plugin to execute a boss summon command at regular intervals.</dd>
                    <dt><a href="https://gitlab.com/Penaz/miniHealth" target="_blank" title="View the 'miniHealth' repository">miniHealth</a></dt>
                    <dd>Extremely small plugin with one clear objective: setting the default health of players to 40HP instead of 20.</dd>
                    <dt><a href="https://gitlab.com/Penaz/totalVanish" target="_blank" title="View the 'totalVanish' repository">totalVanish</a></dt>
                    <dd>This plugin was created as a temporary fix to an issue: vanished staff (which is supposed to look as offline) was still able to receive emotes and trade requests. This plugin filtered such requests and returned a custom message and aborting the operation, making the player think the staff was really offline.</dd>
                </dl>
            </div>
        </div>
        <hr>
        <div id="pics">
            <div class="galleryimg shadow">
                <a href="../images/projects/UT1.png" target="_blank" class="lightboximg">
                    <img src="../images/projects/UT1.png" alt=""/>
                </a>
            </div>
            <div class="galleryimg shadow">
                <a href="../images/projects/RE1.png" target="_blank" class="lightboximg">
                    <img src="../images/projects/RE1.png" alt=""/>
                </a>
            </div>
            <div class="galleryimg shadow">
                <a href="../images/projects/CN1.png" target="_blank" class="lightboximg">
                    <img src="../images/projects/CN1.png" alt=""/>
                </a>
            </div>
            <div class="galleryimg shadow">
                <a href="../images/projects/CN2.png" target="_blank" class="lightboximg">
                    <img src="../images/projects/CN2.png" alt=""/>
                </a>
            </div>
        </div>
    </div>
    <div id="lightboxcontainer"></div>
{% endblock %}
