{% extends "base.html" %}
{% block additionalHead %}
<meta name="description" content="Web Page of NPass: a fuzzy finder / Ncurses-based interface for pass - the standard Unix password manager.">
<script type='application/ld+json'>
[
    {
        "@context": "http://schema.org/",
        "@type": "SoftwareApplication",
        "applicationCategory": [
            "Password Manager",
            "GUI"
        ],
        "downloadUrl": "https://gitlab.com/Penaz/npass",
        "operatingSystem": [
            "Linux",
            "Unix"
        ],
        "softwareVersion": "0.0.1",
        "description": "A fuzzy finder GUI for pass: the standard unix password manager",
        "name": "nPass"
    },
    {
        "@context": "http://www.schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": 1,
                "name": "Home",
                "item": "https://penaz.it/"
            },
            {
                "@type": "ListItem",
                "position": 2,
                "name": "Projects",
                "item": "https://penaz.it/projects.html"
            },
            {
                "@type": "ListItem",
                "position": 3,
                "name": "Npass",
                "item": "https://penaz.it/projects/npass.html"
            }
        ]
    }
]
</script>
{% endblock %}
{% block content %}
    <div class='title'>
        <h1>N<span class="orangelogo">pass</span></h1>
        <h2>A fast ncurses interface for the Unix Password Manager</h2>
    </div>
    <hr>
    <div class="content">
        <div id="description">
            <ul>
                <li><strong>Language: </strong>Python 3.</li>
                <li><strong>Status: </strong>Actively Maintained.</li>
                <li><strong>Framework: </strong>None</li>
                <li><strong>Dependencies: </strong>Pass</li>
                <li><strong>Primary Focus: </strong>Personal Use.</li>
            </ul>
            <div class="desc">
                <p>This is a simple project that was born from a simple necessity: I needed some way to quickly find a password, with few keystrokes.</p>
                <p>Pass is a great way to store passwords in plain GPG archives, but lacked a way to quickly get to a password (being mainly a script), besides the standard bash completions. So I decided to experiment with Python and the Curses library to create something that would suit my necessities.</p>
                <p>Npass is modal, the same interface can be used to execute edit, copy, view commands as well as deleting passwords. It uses a fuzzy finder approach to navigate the password store tree quickly.</p>
                <p>I wouldn't consider Npass a production-ready software, being something I put together in less than an hour, but it's enough to suit my necessities and it makes my work a bit faster, when password storage and retrieval is involved.</p>
                <p>In September 2019 Npass got a full rewrite, now its code is more readable, extensible and clean and the overall stability has improved greatly.</p>
            </div>
            <a href="https://gitlab.com/Penaz/npass" target="_blank">Check the Project Repository</a>
            <hr>
        </div>
        <div id="pics">
            <div class="galleryimg shadow">
                <a href="../images/projects/npass1.png" target="_blank" class="lightboximg">
                    <img src="../images/projects/npass1.png" alt=""/>
                </a>
            </div>
            <div class="galleryimg shadow">
                <a href="../images/projects/npass2.png" target="_blank" class="lightboximg">
                    <img src="../images/projects/npass2.png" alt=""/>
                </a>
            </div>
            <div class="galleryimg shadow">
                <a href="../images/projects/npass3.png" target="_blank" class="lightboximg">
                    <img src="../images/projects/npass3.png" alt=""/>
                </a>
            </div>
        </div>
    </div>
    <div id="lightboxcontainer"></div>
{% endblock %}
