{% extends "base.html" %}
{% block additionalHead %}
<meta name="description" content="Web page on PacktPubExplorer: a small scraper made in Python that retrieves today's free ebook at Packt Publishing.">

<script type="application/ld+json">
{
    "@context": "http://www.schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
        {
            "@type": "ListItem",
            "position": 1,
            "name": "Home",
            "item": "https://penaz.it/"
        },
        {
            "@type": "ListItem",
            "position": 2,
            "name": "Projects",
            "item": "https://penaz.it/projects.html"
        },
        {
            "@type": "ListItem",
            "position": 3,
            "name": "PacktPubExplorer",
            "item": "https://penaz.it/projects/packt.html"
        }
    ]
}
</script>
{% endblock %}
{% block content %}
    <div class='title'>
        <h1>PacktPub<span class="orangelogo">Explorer</span></h1>
        <h2>A small script to retrieve PacktPub's daily free ebook</h2>
    </div>
    <hr>
    <div class="content">
        <div id="description">
            <ul>
                <li><strong>Languages: </strong>Python 3.</li>
                <li><strong>Status: </strong>Actively Maintained.</li>
                <li><strong>Libraries:</strong> Requests, JSON</li>
                <li><strong>Primary Focus: </strong>Personal Use.</li>
            </ul>
            <div class="desc">
                <h4>Objective</h4>
                <p>The object of this small script is exploring the Packt Publishing "Free ebook" page to download and memorize the day's ebook title.</p>
                <p>This is usually used with Conky to show the title on my desktop.</p>
                <h4>How does it work?</h4>
                <p>This script contacts PacktPub's servers and requests for today's Free Ebook/Video title, then the JSON response is interpreted and returned.</p>
                <p>With my conky configuration, the script is executed only once at system boot and uses a hidden file to keep the information about the book, so it won't update the ebook title if the system is not rebooted or the script executed again.</p>
                <h4>Compatibility</h4>
                <p>This script should be compatible with any kind of crontab, allowing for scheduled execution. Also this script should be compatible with all operating systems, as it uses only standard libraries and requests</p>
                <h4>Some final notes</h4>
                <p>This script should be executed as little as possible, so to not overload the internet connection or Packt's servers, this script is made just to have some information on my desktop, nothing else.</p>
                <p>This means also that this script doesn't download the ebooks automatically, which for me is not an issue, since if I want a certain ebook, I'll just run my browser and log into the website to download it.</p>
            </div>
            <a href="https://gitlab.com/Penaz/PacktPubExplorer" target="_blank">Check the Project Repository</a>
        </div>
        <hr>
        <div id="pics">
            <div class="galleryimg shadow">
                <a href="../images/projects/packt1.png" target="_blank" class="lightboximg">
                    <img src="../images/projects/packt1.png" alt=""/>
                </a>
            </div>
        </div>
    </div>
    <div id="lightboxcontainer"></div>
{% endblock %}
