{% extends "base.html" %}
{% block additionalHead %}
<meta name="description" content="An informational page about the project that is this very website.">
<script type="application/ld+json">
{
    "@context": "http://www.schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
        {
            "@type": "ListItem",
            "position": 1,
            "name": "Home",
            "item": "https://penaz.it/"
        },
        {
            "@type": "ListItem",
            "position": 2,
            "name": "Projects",
            "item": "https://penaz.it/projects.html"
        },
        {
            "@type": "ListItem",
            "position": 3,
            "name": "This Website",
            "item": "https://penaz.it/projects/this.html"
        }
    ]
}
</script>
{% endblock %}
{% block content %}
    <div class='title'>
        <h1>This <span class="orangelogo">website</span></h1>
        <h2>Beautifully Static, Blazingly Fast, Brilliantly Essential</h2>
    </div>
    <hr/>
    <div class="content">
        <div id="description">
            <ul>
                <li><strong>Languages: </strong>HTML5, CSS3, JavaScript, Python 3, Jinja2.</li>
                <li><strong>Status: </strong>Actively Maintained.</li>
                <li><strong>Libraries:</strong> Jinja2, PyYAML</li>
                <li><strong>Primary Focus: </strong>Personal Use.</li>
            </ul>
            <div class="desc">
                <h4>Objective</h4>
                <p>Originally this website was meant to be accessed via a QR code in my business card, creating a "hub" containing all the information about me.</p>
                <p>This website evolved to be a separate entity that is meant to give an insight on my work and projects, as well as my thoughts and processes that go into creating such projects.</p>
                <h4>Why Static?</h4>
                <p>Some people tell me that I should show my knowledge and make a fully-fledged web-application or a well-animated website that makes your jaw drop when you see it; honestly I prefer being essential.</p>
                <p>I think that "knowing what the right tool is" is an essential part of any skillset and I consider it the "master of all skills".</p>
                <p>Animations and web applications are just memory and CPU hogs when it comes to just showing some essential information to the user. HTML5 is light and allows for nice websites anyway.</p>
                <p>I find it really easy to lose yourself into an overly engineered and complicated project, and making something that is both elegant and essential turns out to be a real challenge where you have to balance essentiality, elegance and performance.</p>
                <p>This website is made keeping the "elegant transformation" principle in mind, the website works perfectly even with JavaScript disabled.</p>
                <p>Static websites are fast and can be beautiful too, don't need much resources and, if well made, they can be viewed on all devices.</p>
                <h4>Why Python?</h4>
                <p>Another one of the most difficult feats is balancing computer performance and "work performance": I wanted this website to be easily extensible and maintainable. That's why I decided to create a small Jinja2-based templating system that allows me to edit the menu in a single HTML file and have all the website inherit such change.</p>
                <p>It may be over-engineered for its own good, but for now it works well.</p>
            </div>
            <a href="https://gitlab.com/Penaz/penaz.gitlab.io" target="_blank">Check the Source Code</a>
        </div>
        <hr>
        <div id="pics">
            <div class="galleryimg shadow">
                <a href="../images/projects/BC1.png" target="_blank" class="lightboximg">
                    <img src="../images/projects/BC1.png" alt=""/>
                </a>
            </div>
            <div class="galleryimg shadow">
                <a href="../images/projects/BC2.png" target="_blank" class="lightboximg">
                    <img src="../images/projects/BC2.png" alt=""/>
                </a>
            </div>
        </div>
    </div>
    <div id="lightboxcontainer"></div>
{% endblock %}
