{% extends "base.html" %}
{% block additionalHead %}
<meta name="description" content="Web page about VoiceChanger: a small TkInter GUI for Sox, made in Python.">
<script type='application/ld+json'>
{
    "@context": "http://www.schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
        {
            "@type": "ListItem",
            "position": 1,
            "name": "Home",
            "item": "https://penaz.it/"
        },
        {
            "@type": "ListItem",
            "position": 2,
            "name": "Projects",
            "item": "https://penaz.it/projects.html"
        },
        {
            "@type": "ListItem",
            "position": 3,
            "name": "VoiceChanger",
            "item": "https://penaz.it/projects/VC.html"
        }
    ]
}
</script>
{% endblock %}
{% block content %}
    <div class='title'>
        <h1>Voice<span class="orangelogo">Changer</span></h1>
        <h2>A simple TkInter GUI for Sox And PulseAudio, allowing for real-time voice distortion.</h2>
    </div>
    <hr/>
    <div class="content">
        <div id="description">
            <ul>
                <li><strong>Language: </strong>Python 3.</li>
                <li><strong>Status: </strong>Accepting only BugFix Requests.</li>
                <li><strong>Libraries: </strong>TkInter</li>
                <li><strong>Dependencies: </strong>Sox, PulseAudio</li>
                <li><strong>Primary Focus: </strong>Public Usage.</li>
            </ul>
            <div class="desc">
                <p>Another project born from a specific necessity: a friend of mine needed a software that would allow him to distort his voice for a storytelling video on youtube, but the catch is that he was on Linux Mint and it seemed that no software would work with his configuration.</p>
                <p>That's where I come into play and created a small TkInter GUI for Sox, with some compression and distortion options that would allow a simple usage of Sox.</p>
                <p>In about a couple hours of poking and prodding, the product was ready. Now I'm keeping the repository mostly for historical purposes, but it still holds a dear place in my heart as my first GUI project on Python.</p>
                <p>The software opens and closes a specific software audio monitor on PulseAudio where you have to record from to obtain the distorted noise. Also given the nature of PulseAudio and your computer's performance, the audio may be delayed.</p>
                <p><strong>Warning:</strong> This small piece of software can save and reload presets via Pickle, which is known for being weak to Arbitrary Code Execution. It was the quickest solution at the time, and the code can easily be edited to use safer libraries like JSON.</p>
            </div>
            <a href="https://gitlab.com/Penaz/VoiceChanger" target="_blank">Check the Project Repository</a>
        </div>
        <hr>
        <div id="pics">
            <div class="galleryimg shadow">
                <a href="../images/projects/VC1.png" target="_blank" class="lightboximg">
                    <img src="../images/projects/VC1.png" alt=""/>
                </a>
            </div>
        </div>
    </div>
    <div id="lightboxcontainer"></div>
{% endblock %}
