/* main CSS rules */
/* reset rules */
*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html{
    font-size: 18px;
    overflow-x: hidden;
}

body{
    font: 1.2em/1.62 sans-serif;
    overflow-x: hidden;
    background: #FFF3E4;
}

div.content{
    margin: 1rem auto;
    max-width: 40rem;
    min-height: 100%;
    padding: 0 0.62rem;
    transition: transform 0.3s ease-in-out;
}

h1,h2,h3,h4{
    line-height: 2rem;
    text-align: center;
}

h1,h2{
    margin-top: 1.2rem;
}

h3, h4{
    margin-top: 0.8rem;
}
/* For the orange surname part*/
.orangelogo{
    color: #AF4700;
}

hr{
    margin-top: 1.2rem;
    border: 1px solid gray;
}

p{
    line-height: 1.4rem;
    margin-top: 1.4rem;
}

.shadow{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4), 0 6px 20px rgba(0,0,0,0.39);
}

.circle{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

#mypic{
    width: 10rem;
    height: 10rem;
    display: block;
    margin: 1rem auto 2rem auto;
}

div.skillcloud{
    margin-top: 1.2rem;
    text-align: center;
}

div.skillcloud ul li{
    display: inline-block;
    padding: .5rem 1rem;
    margin: 0.3rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px rgba(0,0,0,0.19);
    font-weight: bold;
    color: white;
}

div.skillcloud ul li:nth-of-type(odd){
    background: #AF4700;
}

div.skillcloud ul li:nth-of-type(even){
    background: #555555;
}

.linklist{
    text-align: center;
    margin-top: 1.2rem;
}

.linklist li{
    display: inline-block;
    list-style-type: none;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.linklist li.icon{
        padding-left: 2rem;
        background-repeat: no-repeat;
        background-size: 1.5rem 1.5rem;
        line-height: 1rem;
        vertical-align: middle;
}

.github{
        background-image: url(../images/layout/Github.svg);
}

.linkedin{
        background-image: url(../images/layout/LinkedIn.svg);
}

.internet{
        background-image: url(../images/layout/Internet.svg);
}

.gitlab{
        background-image: url(../images/layout/gitlab.svg);
}

.projects{
    list-style-type: none;
}

a.projtitle{
    color: #AF4700;
    font-weight: bold;
}

input#menutoggle{
    display: none;
}

label#menutogglelbl{
    z-index: 3;
    position: fixed;
    top: 0.5rem;
    left: 0.5rem;
    color: black;
    font-size: 1.5rem;
    padding: 1rem;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}


div.menu{
    position: fixed;
    padding: 1rem 0 1rem 0;
    top: 0;
    left: -14rem;
    background: #DDDDDD;
    width: 14rem;
    min-height: 100vh;
    margin-top: 0;
    transition: transform 0.3s ease-in-out;
    overflow-y: auto;
}

input#menutoggle:checked~div.menu,
input#menutoggle:checked~div.content,
input#menutoggle:checked~label#menutogglelbl{
    transform: translateX(14rem);
}

nav ul{
    border-bottom: 1px solid #555555;
}

nav ul li{
    list-style-type: none;
    border-top: 1px solid #555555;
    display: block;
}

nav ul li:hover{
    background: #888888;
    color: white;
}

nav ul li a:hover{
    background: #888888;
    color: white;
}

nav ul li a{
    display: block;
    padding: .5rem 1rem .5rem 1rem;
    color: #AF4700;
    font-weight: bold;
}

a{
    color: #000000;
    font-weight: bold;
}

blockquote{
    margin: 1rem 1rem 3rem 1rem;
    font-size: 1rem;
    font-style: italic;
    border-top: 1px solid #555;
    border-bottom: 1px solid #555;
}

dt{
    margin-top: 1rem;
}

div.galleryimg{
    margin-top: 1.2rem;
    width: 15rem;
    display: inline-block;
}

div.galleryimg:hover{
    border: 1px solid #AF4700;
}

div.galleryimg img{
    width: 100%
}

div#pics{
    margin-top: 1.2rem;
    text-align: center;
}

div#description ul{
    list-style-type: none;
}

div#description ul.withdots{
    list-style-type: disc;
    list-style-position: inside;
}

div#description ul li strong{
    color: #AF4700;
}

div.top{
    margin-top: 1.2rem;
    position: fixed;
    right: .5rem;
    bottom: .5rem;
    padding: 1rem;
}

div.top img{
    width: 1.5rem;
}

/*
 * --------------------------------------------------
 * Lightbox
 * --------------------------------------------------
 */

div#lightboxBG{
        background-color: rgba(0,0,0,0.8);
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 9999997;
        display: none;
}

div#lightboxClose{
        z-index: 9999999;
        position: absolute;
        text-align: center;
        width: 2rem;
        height: 2rem;
        position: fixed;
        right: 1rem;
        top: 1rem;

}

div#lightboxClose a{
        text-decoration: none;
        color: white;
        padding: .5rem;
        display: block;
        font-weight: bold;
}

div#lightboxClose a:hover{
        font-weight: bold;
        color: gray;
}

div#lightbox{
        z-index: 9999998;
        height: 100vh;
        width: 100vw;
        margin: 5vh auto;
}

div#lightbox img{
        display: block;
        max-height: 80vh;
        max-width: 80vw;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        padding: 1.5rem;
        background: white;
}

div#suggestion{
        position: absolute;
        margin: 0 auto;
        margin-top: 1vh;
        bottom: 0;
        left: 0;
        right: 0;
        color: white;
        padding: 1em;
        width: 50%;
        text-align: center;
        font-weight: bold;
}
