{% extends "base.html" %}
{% block additionalHead %}
<meta name="description" content="More information about Daniele Penazzo, the owner and creator of this website.">
<script type='application/ld+json'>
[
    {
        "@context": "http://www.schema.org",
        "@type": "person",
        "name": "Daniele Penazzo",
        "jobTitle": "Software Developer",
        "url": "https://penaz.it/",
        "email": "daniele@penaz.it",
        "birthDate": "1991-08-07"
    },
    {
        "@context": "http://www.schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": 1,
                "name": "Home",
                "item": "https://penaz.it/"
            },
            {
                "@type": "ListItem",
                "position": 2,
                "name": "About Me",
                "item": "https://penaz.it/about.html"
            }
        ]
    }
]
 </script>
{% endblock %}
{% block content %}
    <picture>
        <source srcset="/images/me.webp" type="image/webp" />
        <img src="/images/me.png" alt="Picture of Daniele Penazzo" id="mypic" class="shadow circle"/>
    </picture>
    <h1>Daniele <span class="orangelogo">Penazzo</span></h1>
    <h3>Software Developer</h3>
    <hr>
    <h2>About <span class="orangelogo">Me</span></h2>
    <p>I'm Daniele Penazzo, I'm a software developer that works mainly on cloud-based software projects using Python 3 and the Django Framework.</p>
    <p>I'm a very curious person, always ready to learn, I love to get to know what happens under the hood of pretty much everything. This bled into my passion for videogames; such curiosity fused with games created one of my favourite hobbies: Game Development.</p>
    <p>I'd love to learn more about how to create videogames myself, giving more space to my creativity, I search around how to draw characters, design levels and implement mechanics, which in turn helps me with my job.</p>
    <p>I'm flexible and hardworking and I believe that the key to a successful project is communication with your customer. Communication allows you to understand your customer's necessities, adapt and build a relationship based on trust and satisfaction.</p>
    <p>I have a Bachelor's Degree in Computer Science and almost 10 years of experience in programming.</p>
    <hr>
{% endblock %}
