<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="twitter:card" content="{{twittercard}}">
        <meta name="twitter:site" content="{{twitterhandle}}">
        <meta name="twitter:title" content="{{pageTitle}}">
        <meta name="twitter:description" content="{{description}}">
        <meta name="twitter:image" content="{{cardimage}}">
        <meta name="twitter:image:alt" content="{{cardimagealt}}">
        <meta name="og:title" content="{{pageTitle}}">
        <meta name="og:type" content="website">
        <meta name="og:image" content="{{cardimage}}">
        <meta name="og:url" content="https://penaz.it/">
        <meta name="og:description" content="{{description}}">
        <title>{{ pageTitle }}</title>
        <link rel="stylesheet" href="/style/main.css" type="text/css" title="Main CSS Stylesheet">
        <script src="/scripts/lightbox.js" defer></script>
        {% block additionalHead %}
        {% endblock %}
    </head>
    <body id="top">
        <input type="checkbox" id="menutoggle"/>
        <div class="menu">
            <blockquote>
                Perseverance is the backbone of success.
            </blockquote>
            <nav>
                <ul>
                    <li><a href="/index.html" title="Go to the home page">Home</a></li>
                    <li><a href="/about.html" title="Go to the about me page">More About Me</a></li>
                    <li><a href="/projects.html" title="Go to the projects page">Projects</a></li>
                </ul>
            </nav>
        </div>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
        <label for="menutoggle" id="menutogglelbl">&#9776;</label>
        <div class="top"><a href="#top"><img src="/images/layout/up.svg" alt="Back to top"/></a></div>
    </body>
</html>
