{% extends "base.html" %}
{% block additionalHead %}
<meta name="description" content="Welcome to my Website, I'm Daniele Penazzo and this web space is about me and my projects.">
<script type='application/ld+json'>
{
  "@context": "http://www.schema.org",
  "@type": "person",
  "name": "Daniele Penazzo",
  "jobTitle": "Software Developer",
  "url": "https://penaz.it/",
  "email": "daniele@penaz.it",
  "birthDate": "1991-08-07"
}
 </script>
{% endblock %}
{% block content %}
    <picture>
        <source srcset="/images/me.webp" type="image/webp" />
        <img src="/images/me.png" alt="Picture of Daniele Penazzo" id="mypic" class="shadow circle"/>
    </picture>
    <h1>Daniele <span class="orangelogo">Penazzo</span></h1>
    <h3>Software Developer</h3>
    <hr>
    <h2>About <span class="orangelogo">Me</span></h2>
    <p>I'm Daniele Penazzo, I'm a software developer with a passion for Video Game programming.</p>
    <p>I'm very flexible and hardworking, I like poking and prodding around anything that makes me curious, I love to see how things work and learn something new in the process.</p>
    <hr>
    <h2>My <span class="orangelogo">Skills</span></h2>
    <div class="skillcloud" id="skillcloud">
        <ul>
            {% for skill in skills %}
            <li>{{skill}}</li>
            {% endfor %}
        </ul>
    </div>
    <hr>
    <h2>My <span class="orangelogo">Links</span></h2>
    <ul class="linklist">
            <li class="icon github"><a href="https://github.com/penaz91" title="Go to my github account page">GitHub</a></li>
            <li class="icon linkedin"><a href="https://linkedin.com/in/penaz91/" title="Go to my LinkedIn Page">LinkedIn</a></li>
            <li class="icon internet"><a href="http://penazarea.altervista.org" title="Visit my blog">My Blog</a></li>
            <li class="icon gitlab"><a href="https://gitlab.com/Penaz" title="Visit my gitlab profile">GitLab</a></li>
    </ul>
    <hr>
    <h2>Some <span class="orangelogo">Projects</span></h2>
    <div class="projectlist">
        <ul class="projects">
            {% for project in projects.values() %}
            <li class="{{project.customClass}}"><a class="projtitle" href="{{project.link}}">{{project.name}}:</a> {{project.description}}</li>
            {% endfor %}
        </ul>
    </div>
    <hr>
{% endblock %}
