<div id="lightboxBG">
	<div id="lightboxClose"><a href="javascript:void(0)">X</a></div>
	<div id="lightbox">
		<img src="" alt="" id="lightboximg" />
		<div id="suggestion"><p>Click anywhere or the "X" button to go back to the page.</p></div>
	</div>
</div>
