{% extends "base.html" %}
{% block additionalHead %}
<meta name="description" content="Web page about my most important projects developed so far.">
<script type='application/ld+json'>
{
    "@context": "http://www.schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
        {
            "@type": "ListItem",
            "position": 1,
            "name": "Home",
            "item": "https://penaz.it/"
        },
        {
            "@type": "ListItem",
            "position": 2,
            "name": "Projects",
            "item": "https://penaz.it/projects.html"
        }
    ]
}
</script>
{% endblock %}
{% block content %}
    <h1>Some <span class="orangelogo">Projects</span></h1>
    <hr>
    <p>In this page I want to show what I think are the projects that I'm most proud of. Some of them are complete, some are just for hobby, some are for work.</p>
    <h3>Currently <span class="orangelogo">Active</span></h3>
    <ul class="projects">
        <li class="2dgd_f0th"><a class="projtitle" href="/projects/2dgd_f0th.html">2D Game Development - From Zero To Hero:</a> An ebook about game development.</li>
        <li class="ento"><a class="projtitle" href="/projects/entostudio.html">EntoStudio:</a> A mosquito tracker with statistics and reporting features.</li>
        <li class="this"><a class="projtitle" href="/projects/this.html">This website:</a> Fast, minimal and to the point. A small hub for everything about me.</li>
        <li class="npass"><a class="projtitle" href="/projects/npass.html">NPass:</a> A ncurses-based interface for npass: the unix password manager.</li>
        <li class="atodo"><a class="projtitle" href="/projects/atodo.html">aTodo:</a> An essential JSON-based task keeper.</li>
        <li class="packt"><a class="projtitle" href="/projects/packt.html">PacktPubExplorer:</a> A small script to scrape the Daily Free Book title from PacktPub.</li>
    </ul>
    <h3>Inactive <span class="orangelogo">Projects</span></h3>
    <ul class="projects">
        <li class="glitch_heaven"><a class="projtitle" href="projects/GH.html">Glitch_Heaven:</a> A glitch-based puzzle platformer.</li>
        <li class="minecraft"><a class="projtitle" href="projects/MC.html">Minecraft Plugins:</a> Some small Minecraft Plugins I made in the old days.</li>
        <li class="VC"><a class="projtitle" href="projects/VC.html">VoiceChanger:</a> A TKinter GUI for Sox and Pulseaudio to allow for realtime voice distortion.</li>
        <li class="lazur"><a class="projtitle" href="projects/lazur.html">Lazur:</a> My 50-Hours long Object Oriented Class Project.</li>
    </ul>
    <hr>
{% endblock %}
